@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-image: url("/background/geometric-leaves.png");
  background-repeat: repeat;
  background-size: 15em;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.3em;
  --background: oklch(0.99 0.005 180);
  --foreground: oklch(0.17 0.005 150);

  --card: oklch(0.97 0.01 180);
  --card-foreground: oklch(0.22 0.005 160);

  --popover: oklch(1 0.005 180);
  --popover-foreground: oklch(0.17 0.005 150);

  --primary: oklch(0.44 0.15 175);
  --primary-foreground: oklch(0.98 0.015 175);

  --secondary: oklch(0.77 0.05 170);
  --secondary-foreground: oklch(0.22 0.01 170);

  --muted: oklch(0.77 0.05 170);
  --muted-foreground: oklch(0.52 0.01 180);

  --accent: oklch(0.68 0.1 145);
  --accent-foreground: oklch(0.17 0.005 150);

  --destructive: oklch(0.58 0.24 27);
  --border: oklch(0.9 0.01 180);
  --input: oklch(0.68 0.0324 180.85);
  --ring: oklch(0.44 0.15 175);

  --chart-1: oklch(0.62 0.2 60);
  --chart-2: oklch(0.55 0.13 185);
  --chart-3: oklch(0.42 0.08 220);
  --chart-4: oklch(0.8 0.18 90);
  --chart-5: oklch(0.72 0.16 70);

  --sidebar: oklch(0.97 0.0044 179.73 / 0.7);
  --sidebar-foreground: oklch(0.17 0.005 150);
  --sidebar-primary: oklch(0.44 0.15 175);
  --sidebar-primary-foreground: oklch(0.98 0.015 175);
  --sidebar-accent: oklch(0.77 0.05 170);
  --sidebar-accent-foreground: oklch(0.22 0.01 170);
  --sidebar-border: oklch(0.9 0.01 180);
  --sidebar-ring: oklch(0.44 0.15 175);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
